[Unit]
Description="kpi-engine-housekeeping"
After=network.target

[Service]
User=root
WorkingDirectory=/root/kpi-engine/
ExecStart=/usr/bin/python3 housekeeper.py
Restart=on-failure

[Install]
WantedBy=multi-user.target