[Unit]
Description="kpy-flask-app"
After=network.target

[Service]
User=root
WorkingDirectory=/root/kpy/
ExecStart=/usr/bin/python3 app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
