<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
          
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <title>Administration | CAHI Threshold Automatization</title>

</head>
<body>
    <div class="login-wrapper">
        <div class="loader d-none">
            <img src="{{ url_for('static', filename='rhombus.gif') }}" />
        </div>
        <div class="login-mask"></div>
        <img src="{{ url_for('static', filename='btslabs-bg.jpg') }}" class="w-100 h-100" />
        <div class="login-form col-4">
          <h1 class="mb-2 text-center">OBSERVER</h1>
          <span class="login-error" style="display: none;">You have entered an invalid username or password. Please try again.</span>
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group position-relative mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
                <span class="password-toggle"> <i id="password-toggle" class="fas fa-eye"></i></span>
            </div>
          <a class="btn btn-primary btn-block mb-2" id="submitLogin" style="background:#314351;border-color:#314351;color:#fafafa">Login</a>
          <small>&trade; BTS OBSERVER - All Rights Reserved.</small>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type=text/javascript src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    $(document).on('click', '#submitLogin', function(){
        // mock login controls
        if($("#username").val() != "btsobserver" && $("#password").val() != "btsobserver" ){
            $(".login-error").fadeIn();
        }else{
            $(".loader").removeClass("d-none");
            setTimeout(()=>{
                window.location = "/devices";
            }, 500)
        }
    })
    $(document).on('keyup', '.login-form input', function(){
        $(".login-error").fadeOut();
    })
    $(document).on('keyup', '.login-form input', function(e){
        if(e.keyCode == 13){
            $('#submitLogin').click();
        }
    })
</script>
</html>
